form{
    text-align: left;
    width: 400px;
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 150px;
}

input{
    margin-bottom: 10px;
    padding: 5px;
}

button{
    background-color: rgb(25, 189, 80);
    color: white;
    padding: 3px;
    margin-bottom: 10px;
}

#rem{
    display: flex;
    flex-direction: row;
    float: left;
}
